@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$extrasmall-font: 7px;
$xsmaller-font: 9px;
$smaller-font: 10px;
$small-font: 12px;
$mediumsmall-font: 16px;
$medium-font: 24px;
$big-font: 48px;
$extrabig-font: 64px;

$search-background: rgba(231, 231, 231, 0.9);
$tip-color: #00385E;
$light-blue: #F4F9FC;
$light-gray: #F8F8F8;
$transparent-blue: rgba(0, 75, 125, 0.7);
$light-text: #606060;

$radius-small: 5px;
$radius-medium: 20px;
$radius-big: 30px;

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    z-index: 20;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px 30px 120px;
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
}

.header-logo {
    font-size: $medium-font;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    li {
        display: inline;
    }
}

.language-flag {
    max-width: 30px;
    padding-top: 3px;
    border-radius: 4px;
}

.home-search {
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 18vh;
    margin-bottom: 50px;
    text-align: center;
    h1 {   
        font-size: $extrabig-font;
        font-weight: 500;
        line-height: 90px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
        color: white;
    }
}

.search-container-image {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.search-container {
    height: 120px;
    width: 960px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 17px 0;
    background-color: $search-background;
    border-radius: $radius-medium;
    p {
        font-size: $small-font;
        color: $tip-color;
    }
}

.searchbar {
    height: 60px;
    width: 930px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 5px 0 20px;
    background-color: white;
    border-radius: $radius-medium;
}

.searchbar-filter {
    user-select: none;
    position: relative;
    height: 75%;
    width: 125px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 35px;
    border-radius: $radius-medium;
    cursor: pointer;

}

.searchbar-standard {
    height: 85%;
    width: 100px;
    margin-left: 10px;
}

.filter-icon {
    z-index: 10;
    position: absolute;
    left: 12px;
}

.iconify {
    color: $tip-color;
}

#beach-icon {
    font-size: 14px;
    padding-bottom: 2px;
}

#search-iconify {
    position: absolute;
    top: 15px;
    left: 22px;
    font-size: 19px;
    color: white;
}

.filter-text, .filter-dropdown {
    text-align: left;
    .filter-label {
        z-index: 10;
        position: absolute;
        top: 9px;
        font-size: $extrasmall-font;
        color: $transparent-blue;
    }
    .filter-value {
        font-size: $smaller-font;
    }
}

.filter-dropdown {
    z-index: 9;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
    width: 125px;
    display: none;
    flex-direction: column;
    padding-top: 25px;
    gap: 4px;
    background-color: white;
    border: 1px $light-blue solid;
    border-radius: $radius-medium;
    cursor: default;
}

.trigger-flex {
    display: flex;
}

.filter-dropdown .filter-value {
    padding: 6px 0 6px 0;
}

.filter-dropdown div {
    padding-left: 35px;
    border-radius: $radius-medium;
    border: 1px white solid;
    cursor: pointer;
}

.filter-dropdown div:hover {
    border: 1px $light-blue solid;
}

.searchbar-standard .filter-text {
    .filter-label {
        font-size: $xsmaller-font;
    }
    .filter-value {
        font-size: 11px;
    }
}

.searchbar-button {
    position: relative;
    height: 80%;
    width: 110px;
    margin-left: 10px;
    color: white;
    background-color: $tip-color;
    border: none;
    cursor: pointer;
    border-radius: $radius-medium;
}

.features-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin-top: 150px;
}

.feature-both {
    height: 400px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: $light-blue;
    border-radius: $radius-big;
}

.feature-right {
    flex-direction: row-reverse;
}

.feature-image {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-img {
    max-width: 400px;
}

.feature-text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 30px 0 30px;
    h1 {
        font-weight: 500;
    }
    p {
        color: $light-text;
    }
}

.feature-right .feature-text {
    padding: 0 20px 0 60px;
}

//search page

.search-page-search {
    height: 40vh;
    .search-container {
        height: 88px;
        transform: translateY(17vh);
    }
}

.search-results-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-results-container-inner {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 40px;
    margin: 100px 0 200px 0;
    padding: 50px 50px 50px 50px;
    background-color: $light-gray;
    border-radius: $radius-medium;
}

.search-single-listing {
    height: 370px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: $radius-medium;
    h3 {
        font-size: $mediumsmall-font;
        font-weight: 500;
    }
    button {
        height: 30px;
        width: 100%;
        background-color: $tip-color;
        color: white;
        border: none;
        border-radius: $radius-medium;
        cursor: pointer;
    }
}

.listing-image {
    height: 43%;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(244, 244, 244);
    border-radius: $radius-medium;
}

.listing-name {
    height: 20px;
}

.listing-bars {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: $smaller-font;
    p {
        margin-bottom: 5px;
        color: $light-text;
    }
}

.large-bar {
    height: 14px;
    width: 100%;
    background-color: $light-blue;
    border-radius: $radius-medium;
    .inner-large-bar {
        height: 100%;
        width: 50%;
        background-color: $tip-color;
    }
}

.small-listing-bars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    margin-top: 10px;
    p {
        font-size: $extrasmall-font;
    }
}

.small-bar {
    height: 7px;
    width: 60px;
    background-color: $light-blue;
    border-radius: $radius-small;
    .inner-small-bar {
        width: 70%;
        background-color: $tip-color;
    }
}

//single listing page

.single-whole {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 200px 0 100px 0;
}

.single-left {
    width: 800px;
    height: 850px;
    padding: 30px 40px;
    background-color: $light-gray;
    border-radius: $radius-medium;
    h1 {
        font-size: $medium-font;
        font-weight: 400;
    }
    h2 {
        font-size: $mediumsmall-font;
        font-weight: 400;
    }
    p {
        font-size: $mediumsmall-font;
    }
}

#single-hotel-img {
    max-width: 100%;
    border-radius: $radius-medium;
    margin-top: 20px;
    margin-bottom: 5px;
}

.single-hotel-info {
    margin-top: 70px;
}

.single-right {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 30px 10px 30px;
    background-color: $light-gray;
    border-radius: $radius-medium;
}

#single-map-img {
    max-width: 100%;
    border-radius: $radius-medium;
}

.single-distances {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    font-size: $small-font;
}

//info pages

.info-page {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 150px 50px;
}

.info-page-inner {
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info-title {
    position: absolute;
    left: 0;
    height: fit-content;
    min-width: 50vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 50px 70px 70px;
    background-color: $light-blue;
    border-radius: 0 $radius-big $radius-big 0;
    h1 {
        font-size: $extrabig-font;
        font-weight: 600;
        color: $tip-color;
        margin-bottom: 20px;
    }
    p {
        font-size: $mediumsmall-font;
    }
}

.info-top {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 300px;
    h2 {
        font-size: $big-font;
        font-weight: 600;
        margin-bottom: 50px;
    }
}

.info-top div {
    width: 50%;
}

.info-main-image {
    display: flex;
    justify-content: center;
}

.info-long {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 120px;
    h3 {
        font-size: $medium-font;
        font-weight: 500;
        margin-bottom: 20px;
        color: $tip-color;
    }
    p {
        font-size: $mediumsmall-font;
    }
}
