@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #383838;
}

p {
  font-size: 12px;
}

header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 150px 30px 120px;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

.header-logo {
  font-size: 24px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
}

header ul li {
  display: inline;
}

.language-flag {
  max-width: 30px;
  padding-top: 3px;
  border-radius: 4px;
}

.transition-main {
  opacity: 1;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

html.is-animating .transition-main {
  opacity: 0;
}

.transition-main-image {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

html.is-animating .transition-main-image {
  -webkit-transform: translateY(-330px);
          transform: translateY(-330px);
}

.transition-main-image-search {
  height: 40vh;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

html.is-animating .transition-search-text {
  opacity: 0;
}

.transition-search-text {
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

html.is-animating .transition-main-image-search {
  height: 50vh;
}

.transition-search-container {
  height: 120px;
  -webkit-transition: 700ms;
  transition: 700ms;
}

html.is-animating .transition-search-container {
  height: 88px;
}

.home-search {
  position: relative;
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-top: 18vh;
  margin-bottom: 50px;
  text-align: center;
}

.home-search h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 90px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  color: white;
}

.search-container-image {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-container-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.search-container {
  position: relative;
  height: 120px;
  width: 960px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 17px 0;
  background-color: rgba(231, 231, 231, 0.9);
  border-radius: 20px;
}

.search-container .search-p {
  position: absolute;
  top: 12px;
}

.search-container p {
  font-size: 12px;
  color: #00385e;
}

.searchbar {
  height: 60px;
  width: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 0 5px 0 20px;
  background-color: white;
  border-radius: 20px;
}

.searchbar-filter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  height: 75%;
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  padding-left: 35px;
  border-radius: 20px;
  cursor: pointer;
}

.searchbar-standard {
  height: 85%;
  width: 100px;
  margin-left: 10px;
}

.filter-icon {
  z-index: 20;
  position: absolute;
  left: 12px;
}

.iconify {
  color: #00385e;
}

#beach-icon {
  font-size: 14px;
  padding-bottom: 2px;
}

#search-iconify {
  position: absolute;
  top: 15px;
  left: 22px;
  font-size: 19px;
  color: white;
}

.filter-text,
.filter-dropdown {
  text-align: left;
}

.filter-text .filter-label,
.filter-dropdown .filter-label {
  z-index: 20;
  position: absolute;
  top: 9px;
  font-size: 7px;
  color: rgba(0, 75, 125, 0.7);
}

.filter-text .filter-value,
.filter-dropdown .filter-value {
  font-size: 10px;
}

.filter-dropdown {
  z-index: 19;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 125px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  gap: 4px;
  background-color: white;
  border: 1px #f4f9fc solid;
  border-radius: 20px;
  cursor: default;
}

.trigger-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-dropdown .filter-value {
  padding: 6px 0 6px 0;
}

.filter-dropdown div {
  padding-left: 35px;
  border-radius: 20px;
  border: 1px white solid;
  cursor: pointer;
}

.filter-dropdown div:hover {
  border: 1px #f4f9fc solid;
}

.searchbar-standard .filter-text .filter-label {
  font-size: 9px;
}

.searchbar-standard .filter-text .filter-value {
  font-size: 11px;
}

.search-mobile {
  display: none;
}

.button-primary {
  color: white;
  background-color: #00385e;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 25px;
  text-align: center;
}

.button-primary:hover {
  background-color: #003050;
}

.button-secondary {
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.button-secondary:hover {
  background-color: #d8d6d6;
}

.btn {
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.btn .div-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.btn .div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: absolute;
  border-radius: 100px;
  border-radius: inherit;
  width: 100%;
  height: 120%;
  top: -10%;
  left: 0;
  color: white;
  -webkit-transform: translateY(100%) scale(0.8);
          transform: translateY(100%) scale(0.8);
  background-color: #00385e;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.btn-bottom-element {
  width: 100px;
}

.btn:hover .div-1 {
  -webkit-transform: translateY(-100%) scale(0.8);
          transform: translateY(-100%) scale(0.8);
}

.btn:hover .div-2 {
  -webkit-animation: btn-animation 0.5s forwards;
          animation: btn-animation 0.5s forwards;
}

.btn-mini {
  width: 150px;
  height: 30px;
  font-size: 10px;
}

@-webkit-keyframes btn-animation {
  0% {
    -webkit-transform: translateY(100%) scale(0.8);
            transform: translateY(100%) scale(0.8);
  }
  60% {
    -webkit-transform: translateY(-2%) scale(1.02);
            transform: translateY(-2%) scale(1.02);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes btn-animation {
  0% {
    -webkit-transform: translateY(100%) scale(0.8);
            transform: translateY(100%) scale(0.8);
  }
  60% {
    -webkit-transform: translateY(-2%) scale(1.02);
            transform: translateY(-2%) scale(1.02);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.searchbar-button {
  position: relative;
  height: 80%;
  width: 110px;
  margin-left: 10px;
  border-radius: 20px;
}

.features-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  padding: 150px 0;
}

.feature-both {
  overflow: hidden;
  height: 400px;
  max-width: 100%;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  background-color: #f4f9fc;
  border-radius: 30px;
}

.feature-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature-image {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-img {
  max-width: 400px;
}

.feature-text {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 0 30px 0 30px;
}

.feature-text h1 {
  font-weight: 500;
}

.feature-text p, .feature-text a, .feature-text a:visited {
  color: #606060;
  text-decoration: none;
}

.feature-text a {
  text-decoration: underline;
}

.feature-text a:hover {
  color: #494949;
}

.feature-right .feature-text {
  padding: 0 20px 0 60px;
}

.search-page-whole {
  background-color: #f8f8f8;
}

.search-page-search {
  z-index: 20;
  height: 40vh;
}

.search-page-search .search-container {
  height: 88px;
  -webkit-transform: translateY(17vh);
          transform: translateY(17vh);
}

.search-results-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 200px 0;
  background-color: #f8f8f8;
}

.search-results-container-inner {
  width: 1400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
  margin-bottom: 50px;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.search-single-listing {
  position: relative;
  width: 670px;
  height: 192px;
  background-color: white;
  border-radius: 20px;
}

.map-pin {
  position: absolute;
  top: 49%;
  left: 49%;
}

.search-single-listing-inner {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px 20px 15px 20px;
  background-color: inherit;
  border-radius: 20px;
}

.listing-image {
  z-index: 10;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.listing-image img {
  height: 150px;
  width: 200px;
  border-radius: 10px;
}

.listing-right {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.listing-name {
  z-index: 1;
  margin-bottom: 10px;
}

.listing-name div {
  height: 27px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.listing-name div .iconify {
  color: #e7d000;
  margin-right: -3px;
}

.listing-name h3 {
  font-weight: 500;
}

.listing-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.listing-bar p {
  font-size: 10px;
  color: #606060;
}

.large-bar {
  height: 15px;
  width: 250px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.large-inner-bar {
  width: 0%;
  background-color: #00385e;
}

.listing-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.listing-bottom .iconify {
  width: 20px;
}

.listing-bottom-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.listing-bottom-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.listing-bottom-icons p {
  font-size: 10px;
  color: #606060;
}

.listing-bottom-icons .listing-bottom-icons-dropdown {
  display: none;
}

.listing-bottom-icons.active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.listing-bottom-icons.active .listing-bottom-icons-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.listing-active-bottom {
  position: absolute;
  top: 305px;
  display: none;
}

.listing-active-bottom p {
  font-size: 10px;
}

.listing-active-bottom > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  margin-top: 10px;
}

.listing-active-bottom > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2px;
}

.listing-active-bottom.active {
  display: block;
}

.single-whole {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 150px 0 100px 0;
  background-color: #f8f8f8;
}

.single-whole h1 {
  font-size: 24px;
  font-weight: 500;
}

.single-whole h2 {
  font-size: 16px;
  font-weight: 400;
}

.single-whole hr {
  border: 1px solid #f8f8f8;
}

.single-left {
  width: 760px;
}

.single-left h1 {
  margin-bottom: 15px;
}

.single-left p {
  font-size: 12px;
}

.single-left-top {
  height: 920px;
  width: 100%;
  padding: 30px 30px;
  border-radius: 20px;
  background-color: white;
}

.single-left-distances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.single-left-distances > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-left-distances > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-left-distances > div .div-buttons {
  width: 170px;
}

.single-left-distances .btn-mini {
  width: 80px;
}

.single-left-bottom {
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 40px 30px;
  background-color: white;
  border-radius: 20px;
}

.single-left-bottom-element {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-left-bottom-element div {
  width: 40%;
}

.single-left-bottom-element div p {
  color: #b1b1b1;
}

.single-map {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 5px;
}

.single-right {
  width: 340px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 20px;
}

.single-contact,
.single-nearby-container {
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

.single-contact {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 30px 30px;
}

.single-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.single-contact h1 {
  margin-bottom: 10px;
}

.single-nearby-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px;
}

.single-nearby {
  width: 100%;
  height: 90px;
  padding: 20px 0;
}

.single-nearby p {
  color: #b1b1b1;
}

.info-page {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 150px 50px;
}

.info-page-inner {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.info-title, .info-title-about {
  position: absolute;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 50vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 50px 70px 70px;
  background-color: #f4f9fc;
  border-radius: 0 30px 30px 0;
}

.info-title h1, .info-title-about h1 {
  font-size: 64px;
  font-weight: 600;
  color: #00385e;
  margin-bottom: 20px;
}

.info-title p, .info-title-about p {
  font-size: 16px;
}

.info-title-about {
  left: -15%;
  padding: 50px 50px 50px 0px;
}

.info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  margin-top: 450px;
}

.info-top h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #00385e;
}

.info-top div p {
  font-size: 16px;
}

.info-top div {
  width: 50%;
}

.info-main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-long {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  margin-top: 120px;
}

.info-long h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #00385e;
}

.info-long p {
  font-size: 16px;
}

.info-about, .info-top-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  padding-top: 100px;
}

.info-about h2, .info-top-about h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #00385e;
}

.info-about p, .info-top-about p {
  font-size: 24px;
}

.info-about div {
  width: 50%;
}

.info-top-about {
  padding-top: 350px;
  gap: 0;
}

.cookie-banner {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid #f0f0f0;
  color: #00385e;
  padding: 30px 0;
  max-width: 100%;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  z-index: 100;
}

.cookie-banner p {
  font-size: 12px;
}

#cookie-icon {
  font-size: 40px;
}

.cookie-banner-a {
  color: #00385e;
}

.cookie-banner-a:visited {
  color: #1c2541;
}

.cookie-banner.active {
  bottom: 0;
}

#cookie-btn {
  height: 40px;
}

.help-banner {
  background-color: rgba(233, 245, 248, 0.9);
  position: fixed;
  bottom: 70%;
  left: 200%;
  width: 20%;
  right: 0;
  padding: 20px 32px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  z-index: 100;
  border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
}

.help-banner #help-btn {
  font-size: 24px;
  color: #00385E;
  cursor: pointer;
  z-index: 101;
}

.help-banner p {
  font-size: 16px;
  font-weight: 500;
  color: #00385e;
  padding-bottom: 15px;
}

.help-banner.active {
  left: 85%;
}

footer {
  width: 100%;
  background-color: #1c2541;
  padding-top: 20px;
  border-radius: 50px 50px 0 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer h1 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

footer p {
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
}

.footer-wave, .footer-wave-2, .footer-wave-3, .footer-sun, .footer-cloud {
  position: relative;
  left: -5vw;
  bottom: -5vh;
}

.footer-wave-2, .footer-wave-3 {
  width: 23em;
  height: 13em;
  left: -28vw;
  bottom: -23vh;
  color: #202B4E;
}

.footer-wave-3 {
  width: 20em;
  height: 13em;
  left: 33vw;
  bottom: -30vh;
}

.footer-sun {
  bottom: 13vw;
  left: 30vh;
  width: 200px;
  height: 200px;
}

.footer-cloud {
  width: 200px;
  height: 150px;
  left: -25vw;
  bottom: 20vh;
}

.footer-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 80px 0;
}

.footer-item {
  height: 100%;
  width: 300px;
  padding: 50px;
  text-align: left;
}

a:visited {
  color: whitesmoke;
}

.sub-container {
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
}

.sub-container h1 {
  color: whitesmoke;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 15px;
  background-color: #00385e;
}

.sub-container .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 150px;
}

.sub-container .all .map-container {
  text-align: center;
  margin-right: 25px;
  background-color: #f8f8f8;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 25px;
}

.sub-container .all .map-container #sub-map {
  height: 400px;
  width: 600px;
}

.sub-container .all .links {
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  font-size: 24px;
  height: 100%;
  width: 25%;
  background-color: #f8f8f8;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.sub-container .all p {
  color: #234b63;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.sub-container .all a {
  color: #234b63;
}

.sub-container .all p:hover {
  color: #1c2541;
}

@media all and (max-width: 500px) {
  .home-search h1 {
    font-size: 48px;
  }
  .home-search button, .home-search a {
    display: block;
    padding: 5px 30px;
    font-size: 24px;
    text-decoration: none;
    color: #606060;
  }
  .search-container {
    display: none;
  }
  .mobile-search-all {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("../img/port.png");
    background-size: cover;
  }
  .mobile-search-all .mobile-search-all-p {
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 120px 0 15px 0;
    background-color: #00385e;
  }
  .mobile-search-container {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 0;
    margin: 15px 0;
    background-color: rgba(231, 231, 231, 0.9);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .searchbar {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 85%;
    background-color: rgba(231, 231, 231, 0);
  }
  .searchbar-filter {
    width: 95%;
    background-color: white;
  }
  .filter-dropdown {
    z-index: 100;
    padding-top: 0;
    gap: 0;
    width: 100%;
  }
  .filter-dropdown div {
    padding-left: 20px;
  }
  .searchbar-standard {
    width: 95%;
    margin-left: 0;
  }
  .searchbar-button {
    width: 95%;
    margin-left: 0;
  }
  header {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header ul {
    gap: 0;
  }
  header ul li {
    padding: 5px 10px;
  }
  .features-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feature-both {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .feature-image {
    display: none;
  }
  .feature-text {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
  }
  .feature-right .feature-text {
    padding: 15px 30px;
  }
  .search-results-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 0 100px 0;
  }
  .search-results-container-inner {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .search-single-listing {
    position: relative;
    width: 100%;
    height: 192px;
  }
  .listing-image {
    display: none;
  }
  .sub-container {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
  }
  .sub-container h1 {
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 125px 0 15px;
    background-color: #00385e;
  }
  .sub-container .all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding-top: 0;
  }
  .sub-container .all .map-container {
    margin-right: 0;
    padding: 25px 0 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sub-container .all .map-container #sub-map {
    height: 40vmax;
    width: 40vmax;
  }
  .sub-container .all .links {
    padding: 0 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .info-page-inner {
    width: 100%;
    gap: 0;
  }
  .info-title, .info-title-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: 0;
    min-width: 0;
    width: 100%;
    padding-left: 12%;
  }
  .info-title div h1, .info-title-about div h1 {
    font-size: 48px;
  }
  .info-title-about {
    left: -25%;
    padding: 0;
  }
  .info-top, .info-top-about {
    gap: 0;
    margin-top: 500px;
  }
  .info-top-about {
    margin-top: 130px;
  }
  .info-top div {
    width: 100%;
  }
  .info-main-image {
    display: none;
  }
  .info-about div {
    width: 100%;
  }
  .info-top-about {
    padding-top: 0;
  }
  .single-whole {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 75px 0 50px 0;
  }
  .single-left {
    width: 100%;
  }
  .single-left h1 {
    margin-bottom: 10px;
  }
  .single-left-top {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 60px 15px;
  }
  .single-left-distances {
    margin-top: 20px;
  }
  .single-left-bottom {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 15px;
  }
  .single-left-bottom-element {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .single-left-bottom-element div {
    width: 100%;
  }
  .single-left-bottom-element a {
    width: 100%;
  }
  .single-map {
    height: 100%;
    width: 100%;
  }
  .single-right {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .single-contact {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px;
  }
  .single-nearby-container {
    padding: 15px;
  }
  .single-nearby {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .cookie-banner {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    padding: 30px 15px;
  }
  #cookie-icon {
    display: none;
  }
  #cookie-btn {
    height: 40px;
  }
  .help-banner {
    bottom: 50%;
    left: 100%;
    width: 75%;
    right: 0;
    padding: 20px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .help-banner p {
    padding-bottom: 15px;
    text-align: center;
  }
  .help-banner button {
    padding: 10px 50px;
  }
  .help-banner #help-btn {
    z-index: 110;
  }
  .help-banner.active {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  footer {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding-top: 0;
  }
  .footer-wave, .footer-wave-2, .footer-wave-3, .footer-sun, .footer-cloud {
    display: none;
  }
  .footer-container {
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0 40px 0;
  }
  .footer-item {
    width: 50%;
    padding: 25px;
  }
}
/*# sourceMappingURL=app.css.map */