@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 150px 30px 120px;
  color: white;
}

.header-logo {
  font-size: 24px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
}

header ul li {
  display: inline;
}

.language-flag {
  max-width: 30px;
  padding-top: 3px;
  border-radius: 4px;
}

.home-search {
  position: relative;
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-top: 18vh;
  margin-bottom: 50px;
  text-align: center;
}

.home-search h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 90px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  color: white;
}

.search-container-image {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-container-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.search-container {
  height: 120px;
  width: 960px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 17px 0;
  background-color: rgba(231, 231, 231, 0.9);
  border-radius: 20px;
}

.search-container p {
  font-size: 12px;
  color: #00385E;
}

.searchbar {
  height: 60px;
  width: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 0 5px 0 20px;
  background-color: white;
  border-radius: 20px;
}

.searchbar-filter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  height: 75%;
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  padding-left: 35px;
  border-radius: 20px;
  cursor: pointer;
}

.searchbar-standard {
  height: 85%;
  width: 100px;
  margin-left: 10px;
}

.filter-icon {
  z-index: 10;
  position: absolute;
  left: 15px;
}

#search-iconify {
  position: absolute;
  top: 15px;
  left: 22px;
  font-size: 19px;
  color: white;
}

.filter-text, .filter-dropdown {
  text-align: left;
}

.filter-text .filter-label, .filter-dropdown .filter-label {
  z-index: 10;
  position: absolute;
  top: 9px;
  font-size: 7px;
}

.filter-text .filter-value, .filter-dropdown .filter-value {
  font-size: 10px;
}

.filter-dropdown {
  z-index: 9;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 130px;
  width: 125px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  gap: 4px;
  background-color: white;
  border: 1px #F4F9FC solid;
  border-radius: 20px;
  cursor: default;
}

.trigger-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-dropdown .filter-value {
  padding: 6px 0 6px 0;
}

.filter-dropdown div {
  padding-left: 35px;
  border-radius: 20px;
  border: 1px white solid;
  cursor: pointer;
}

.filter-dropdown div:hover {
  border: 1px #F4F9FC solid;
}

.searchbar-standard .filter-text .filter-label {
  font-size: 9px;
}

.searchbar-standard .filter-text .filter-value {
  font-size: 11px;
}

.searchbar-button {
  position: relative;
  height: 80%;
  width: 110px;
  margin-left: 10px;
  color: white;
  background-color: #00385E;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.features-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  margin-top: 150px;
}

.feature-both {
  height: 400px;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  background-color: #F4F9FC;
  border-radius: 30px;
}

.feature-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature-image {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-img {
  max-width: 400px;
}

.feature-text {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 0 30px 0 30px;
}

.feature-text h1 {
  font-weight: 500;
}

.feature-text p {
  color: #606060;
}

.feature-right .feature-text {
  padding: 0 20px 0 60px;
}

.search-page-search {
  height: 40vh;
}

.search-page-search .search-container {
  height: 88px;
  -webkit-transform: translateY(17vh);
          transform: translateY(17vh);
}

.search-results-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-results-container-inner {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 40px;
  margin: 100px 0 200px 0;
  padding: 50px 50px 50px 50px;
  background-color: #F8F8F8;
  border-radius: 20px;
}

.search-single-listing {
  height: 370px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}

.search-single-listing h3 {
  font-size: 16px;
  font-weight: 500;
}

.search-single-listing button {
  height: 30px;
  width: 100%;
  background-color: #00385E;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.listing-image {
  height: 43%;
  width: 100%;
  margin-bottom: 15px;
  background-color: #f4f4f4;
  border-radius: 20px;
}

.listing-name {
  height: 20px;
}

.listing-bars {
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 10px;
}

.listing-bars p {
  margin-bottom: 5px;
  color: #606060;
}

.large-bar {
  height: 14px;
  width: 100%;
  background-color: #F4F9FC;
  border-radius: 20px;
}

.large-bar .inner-large-bar {
  height: 100%;
  width: 50%;
  background-color: #00385E;
}

.small-listing-bars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  margin-top: 10px;
}

.small-listing-bars p {
  font-size: 7px;
}

.small-bar {
  height: 7px;
  width: 60px;
  background-color: #F4F9FC;
  border-radius: 5px;
}

.small-bar .inner-small-bar {
  width: 70%;
  background-color: #00385E;
}

.single-whole {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 200px 0 100px 0;
}

.single-left {
  width: 800px;
  height: 700px;
  padding: 30px 40px;
  background-color: #F8F8F8;
  border-radius: 20px;
}

.single-left h1 {
  font-size: 24px;
  font-weight: 400;
}

#single-hotel-img {
  max-width: 100%;
  border-radius: 20px;
  margin-top: 20px;
}

.single-hotel-info {
  margin-top: 30px;
}

.single-right {
  width: 400px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 30px;
  background-color: #F8F8F8;
  border-radius: 20px;
}

#single-map-img {
  max-width: 100%;
  border-radius: 20px;
}

.single-distances {
  width: 100%;
  margin-top: 20px;
}

.cookie-banner {
  background-color: rgb(231, 231, 231);
  color: #00385E;
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 20px 32px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.cookie-banner-a {
  color: #00385E;
}

.cookie-banner-a:visited {
  color: #1C2541;
}

.cookie-banner.active {
  bottom: 0;
}

.cookie-btn {
  background: #1C2541;
  color: whitesmoke;
  font-size: 21px;
  font-weight: 700;
  border: 0;
  padding: 6px 24px;
  margin-bottom: 8px;
  margin-top: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #1C2541;
  color: white;
  padding-top: 20px;
  border-radius: 50px 50px 0 0;
  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  -ms-border-radius: 50px 50px 0 0;
  -o-border-radius: 50px 50px 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  height: 100%;
  flex-basis: 25%;
  padding: 50px;
  text-align: left;
}

a {
  color: white;
}

a:visited {
  color: whitesmoke;
}
/*# sourceMappingURL=app.css.map */